<ul>
  <li>
    <div>{{hits}} results.</div>
  </li>
  <li *ngFor="let job of jobs">
      <a href="{{job.apply}}">{{ job.title }} </a> - {{ job.company }}
    <div>
      {{ job.location }}
    </div>
    <div>
      {{ formatDate(job.created) }}
    </div>
    <div>
      {{ job.source }}
    </div>
  </li>
  <li *ngIf="(finished && (jobs.length < 1))">
      <a [routerLink]="['/jobs']">View All Jobs</a>
  </li>
  <li *ngIf="(finished && (jobs.length >= 1))">
    End of jobs for now.
  </li>
</ul>
<div
infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()">
</div>
