.header-image{
  border-radius: 0;
  line-height: 3.5rem;
  font-size: 2rem;
  text-align: center;
  height: 3.5rem;
  width: 3.5rem;
}
mat-card-content{
  margin-bottom: 0;
}

.card{
  margin: 1rem;
  background-color: rgba(20,20,20,0.85);
}
main{
  background:
    linear-gradient(
        rgb(0,0,1,0.3),
        rgba(0, 0,0,0.3)
    ),
      /* bottom, image */
    url('src/assets/jobsBackground.svg') no-repeat center fixed;
  background-size: cover;
  max-width: 100vw;
}

.mat-raised-button{
  margin-left: 2rem;
}

.dummy {
  cursor: inherit;
}

.mat-card-subtitle{
  display: inline-block;
}

mat-icon{
  margin: 0 0.4rem;
}

.mat-button {
  text-align: left;
}


.mat-card-title{
  white-space: inherit;
}


@media only screen and (max-width: 768px) {

  .mat-button, .mat-raised-button{
    display: block;
    margin: auto;
  }
  .mat-raised-button{
    margin-top: 1rem;
  }
}
